files:
    "/home/ec2-user/populate-environment.py":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/env python3
            import json
            import subprocess

            if __name__ == "__main__":
                eb_environment = json.loads(
                     subprocess.run(
                         [
                             "/opt/elasticbeanstalk/bin/get-config",
                             "environment"
                         ],
                         capture_output=True
                     ).stdout
                )
                with open("/var/app/staging/.env", "w") as outfile:
                    for k, v in eb_environment.items():
                       outfile.write(f"{k}={v}\n")

container_commands:
    01-populate-environment:
        command: /home/ec2-user/populate-environment.py
