<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>MO2 Bow Damage Data Collection</title>
        <style>
            .helptext {
                font-size: 0.9em;
                color: #444;
            }
            label, input {
                display: flex;
                flex-direction: column;
            }
            ol, ul {
                padding-left: 1em;
            }
        </style>
    </head>
    <body>
        <h3>Bow Damage Data</h3>
        <ol>
            <li>
                Make sure your Archery skill is 100.
            </li>
            <li>
                Input your bow's type, range, current durability, and max
                durability below.
            </li>
            <li>
                Find a target dummy in town and stand about 1 horse length
                away (exact distance does not seem to matter).
            </li>
            <li>
                Shoot 10 fully-charged arrows into the head of the target
                dummy.
                <ul>
                    <li>
                        Use broadhead arrows for short and asymmetric bows.
                        Use longbow arrows for longbows.
                    </li>
                </ul>
            </li>
            <li>
                Check your combat log, add up the total amount of damage you
                did, then divide by 10 to find your mean damage per shot.
            </li>
        </ol>
        <form action="{% url 'bow-damage-create' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
