<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>MO2 Bow Damage Model Details</title>
    </head>
    <body>
        <a href="{% url 'home' %}">Home</a>
        <h3>Bow Damage Model Details</h3>
        <h4>
            <a href="{% url 'bow-damage-contribute' %}">Contribute</a> |
            <a href="{% url 'bow-damage-prediction' %}">Calculator</a> |
            <a href="{% url 'bow-damage-download' %}">Download Raw Data</a>
        </h4>
        {% for predictor, summary in summaries %}
            <h3>{{ predictor }}</h3>
            <h4>{{ filters }}</h4>
            {{ summary|safe }}
            <hr />
        {% endfor %}
    </body>
</html>
